<div class="avatar {{wrapperClasses}}">
    <div class="avatar-photo {{classes}}">
        {{#if photo}}
            <img src="{{photo}}" alt="{{name}}">
        {{else}}
            <div class="avatar-placeholder">
            </div>
        {{/if}}
    </div>
    {{#if name}}
        <h5 class="avatar__name">{{name}}</h5>
    {{/if}}
</div>