{{#if label}}
    <label for="{{id}}" class="label">{{label}}</label>
{{/if}}
<input
        type="{{type}}"
        id="{{id}}"
        placeholder="{{placeholder}}"
        value="{{value}}"
        name="{{name}}"
        class="input {{classes}}"
>